@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Roboto Condensed", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-serif: "Georgia", serif;
  --radius: 0.1rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.9619 0 0);
  --foreground: oklch(0.2639 0.0102 264.3844);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2639 0.0102 264.3844);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2639 0.0102 264.3844);
  --primary: oklch(0.6611 0.1326 236.6908);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.8801 0.0075 264.5234);
  --secondary-foreground: oklch(0.4533 0.0209 264.3425);
  --muted: oklch(0.9205 0.0049 264.5343);
  --muted-foreground: oklch(0.6707 0.0216 264.4197);
  --accent: oklch(0.6611 0.1326 236.6908);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.5288 0.1952 27.1567);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8393 0.0101 264.5103);
  --input: oklch(0.8801 0.0075 264.5234);
  --ring: oklch(0.6611 0.1326 236.6908);
  --chart-1: oklch(0.6907 0.1236 234.6736);
  --chart-2: oklch(0.6531 0.1811 38.1093);
  --chart-3: oklch(0.4762 0.2346 272.9978);
  --chart-4: oklch(0.7852 0.2373 142.897);
  --chart-5: oklch(0.653 0.2569 328.0325);
  --radius: 0.1rem;
  --sidebar: oklch(0.9619 0 0);
  --sidebar-foreground: oklch(0.2639 0.0102 264.3844);
  --sidebar-primary: oklch(0.6611 0.1326 236.6908);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.6611 0.1326 236.6908);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.8393 0.0101 264.5103);
  --sidebar-ring: oklch(0.6611 0.1326 236.6908);
  --font-sans: "Roboto Condensed", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0.1rem;
  --shadow-offset-y: 0.2rem;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-xs: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.03);
  --shadow-sm: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0.1rem 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0.1rem 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0.1rem 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0.1rem 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.05),
    0.1rem 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0.1rem 0.2rem 0.5rem 0rem hsl(0 0% 0% / 0.13);
  --tracking-normal: 0.05em;
}

.dark {
  --background: oklch(0.1579 0 0);
  --foreground: oklch(0.8853 0.0066 228.8475);
  --card: oklch(0.193 0 0);
  --card-foreground: oklch(0.8853 0.0066 228.8475);
  --popover: oklch(0.193 0 0);
  --popover-foreground: oklch(0.8853 0.0066 228.8475);
  --primary: oklch(0.756 0.1314 216.7461);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.2702 0.0044 228.9696);
  --secondary-foreground: oklch(0.7668 0.0136 228.9895);
  --muted: oklch(0.238 0.0036 228.9553);
  --muted-foreground: oklch(0.6439 0.0211 229.2193);
  --accent: oklch(0.6259 0.1978 36.8325);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.4854 0.178 27.0398);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3218 0.0056 228.9862);
  --input: oklch(0.2702 0.0044 228.9696);
  --ring: oklch(0.756 0.1314 216.7461);
  --chart-1: oklch(0.7741 0.1272 215.0981);
  --chart-2: oklch(0.6531 0.1811 38.1093);
  --chart-3: oklch(0.4762 0.2346 272.9978);
  --chart-4: oklch(0.7852 0.2373 142.897);
  --chart-5: oklch(0.653 0.2569 328.0325);
  --radius: 0.1rem;
  --sidebar: oklch(0.1579 0 0);
  --sidebar-foreground: oklch(0.8853 0.0066 228.8475);
  --sidebar-primary: oklch(0.756 0.1314 216.7461);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.6259 0.1978 36.8325);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.3218 0.0056 228.9862);
  --sidebar-ring: oklch(0.756 0.1314 216.7461);
  --font-sans: "Roboto Condensed", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", monospace;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-opacity: 0.6;
  --shadow-blur: 1.2rem;
  --shadow-spread: 0.2rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.5rem;
  --letter-spacing: 0.05em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.3);
  --shadow-xs: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.3);
  --shadow-sm: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.6),
    0rem 1px 2px -0.8px hsl(0 0% 0% / 0.6);
  --shadow: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.6),
    0rem 1px 2px -0.8px hsl(0 0% 0% / 0.6);
  --shadow-md: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.6),
    0rem 2px 4px -0.8px hsl(0 0% 0% / 0.6);
  --shadow-lg: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.6),
    0rem 4px 6px -0.8px hsl(0 0% 0% / 0.6);
  --shadow-xl: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 0.6),
    0rem 8px 10px -0.8px hsl(0 0% 0% / 0.6);
  --shadow-2xl: 0rem 0.5rem 1.2rem 0.2rem hsl(0 0% 0% / 1.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
